@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("./assets/bgOrange.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#searchInput {
    background-color: #ffe9d9;
    background-image: url("assets/OrangeSearchIcon.png");
    background-position: 15px 10px;
    background-repeat: no-repeat;
    background-size: 30px;
    color: #FFA350;
}

#searchInput::placeholder {
    color: #FFA350;
}

#searchInput::-webkit-search-cancel-button {
    position:relative;
    right:20px;
}

#buttonRechercherStage {
    background-color: #FFA350;
    background-image: url("assets/OrangePaleSearchIcon.png");
    background-repeat: no-repeat;
    background-position: 30px 12px;
    background-size: 30px;
}